@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

ul li {
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0px;
}

a {
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    transition: 1s;
    background-color: #1d1a1a;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    color: white;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.navBar {
    z-index: 6;
    position: sticky;
    overflow: visible;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
    height: 60px;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.navMenu {
    transition: 300ms;
}



.logoImage {
    width: 72px;
    height: 60px;
}

.searchBar {
    background-color: white;
    color: black;
    height: 26px;
    font-family: 'Nunito Sans', sans-serif;
}

.searchButton {
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    border-radius: 5px;
    width: 24px;
    height: 28px;
    background-color: white;
}

.lupaImage {
    padding: 0;
    width: 100%;
    height: 100%;
}

div {
    display: flex;
    align-content: normal;
    gap: 80px;
}

.srchBtn {
    margin-right: auto;
}

.genres {
    margin-right: 0;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.searchBar {
    transition: 300ms;
    width: 23vw;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    color: black;
}

.changeThemeButton {
    width: 24px;
    height: 28px;
    padding: 0;
    border: 0;
    background: none;
}

.changeThemeButton>img {
    width: 24px;
    height: 28px;
}

img:not(.logoImage, .lupaImage, .sun, .extended, footer > img, .bookPage > div > img) {
    max-width: 100%;
    height: 400px;
}

.light-mode {
    transition: 1s;
    background-color: white;
    color: black;
}



.bookPage>div>img {
    position: relative;
    width: 300px;
    height: 450px;
    margin-top: 20%;
}

.imgAndLink {
    display: flex;
    flex-direction: column;
    scale: 1.2;
    margin-left: 10%;
    gap: 0;
    align-items: center;
}

.downloadbook {
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 500;
    padding: 3.5%;
    background-color: blue;
    margin-bottom: 10vh;
    font-family: 'Nunito Sans', sans-serif;
}

span.infoRow {
    font-size: 1.25rem;
    font-weight: bold;
    overflow: hidden;
}

.description {
	text-align: justify;
    overflow: scroll;
    left: 10%;
    line-height: 1.5;
    align-items: center;
    width: 80%;
    gap: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Slabo 27px', serif;
}

.description>h1 {
    font-size: 2.5rem;
}

footer {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12vh;
    background-color: black;
    bottom: 0;
}

footer>img {
    opacity: 30%;
    width: 40px;
    height: 40px;
}

h1 {
    margin: 0;
}

.bookPage {
    height: 700px;
}