html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  transition: 1s;
  background-color: #1d1a1a;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  color: white;

}

.changeThemeButton {
  width: 24px;
  height: 28px;
  padding: 0;
  border: 0;
  background: none;
}

.changeThemeButton>img {
  width: 24px;
  height: 28px;
}

.light-mode {
  transition: 1s;
  background-color: white;
  color: black;
}

.logoImage {
  width: 72px;
  height: 60px;
}

.navMenu:hover {
  padding: 16px;
  transition: 500ms;
  background-color: blue;
}

.navMenu {
  transition: 300ms;
}

.navBar {
  z-index: 2;
  position: sticky;
  overflow: visible;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: black;
  height: 60px;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  margin-bottom: 25px;
}

button {
  background-color: Black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  transition: 500ms;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
}

.loginbtn:hover {
  transition: 500ms;
  background-color: rgb(23, 94, 247);
  opacity: 1;
  border-radius: 40px;
}


.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}