@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

ul li {
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0px;
}

a {
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    transition: 1s;
    background-color: #1d1a1a;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    color: white;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.navBar {
    z-index: 6;
    position: sticky;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
    height: 60px;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.navMenu {
    transition: 300ms;
}



.logoImage {
    width: 72px;
    height: 60px;
}

.searchBar {
    background-color: white;
    color: black;
    height: 26px;
}

.searchButton {
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    border-radius: 5px;
    width: 24px;
    height: 28px;
    background-color: white;
}

.lupaImage {
    padding: 0;
    width: 100%;
    height: 100%;
}

.srchBtn {
    margin-right: auto;
}

.genres {
    margin-right: 0;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.searchBar {
    transition: 300ms;
    width: 23vw;
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    color: black;
}

.changeThemeButton {
    width: 24px;
    height: 28px;
    padding: 0;
    border: 0;
    background: none;
}

.changeThemeButton>img {
    width: 24px;
    height: 28px;
}

.light-mode {
    transition: 1s;
    background-color: white;
    color: black;
}

.searchRes {
    transition: 100ms;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: max-content;
    text-align: center;
}

.searchRes:hover {
    transition: 300ms;
    border: 1px solid gray;
}

.resLink {
    width: 100%;
    height: max-content;
}

img {
    max-width: 100%;
    height: 400px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-top: 1.5rem;
    height: max-content;
}

h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: max-content;
}

.resImg {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: black;
}

footer>img {
    opacity: 30%;
    width: 40px;
    height: 40px;
}

.current {
    display: block;
    background-color: blue;
    width: 1.8rem;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 12px;
    flex-direction: column;
}

.page {
    font-size: 24px;
}

.pagination a {
    text-decoration: underline;
    padding-bottom: 3px;
    height: 100%;
    width: 1.8rem;
    text-align: center;
    transition: 200ms;
}

.pagination a:hover {
    background-color: blue;
    text-decoration: none;
    transition: 300ms;
}

.notFound {
    display: flex;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    text-align: center;
}

.pages {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10vh;
    right: 0;
}