@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
    visibility: hidden;
  }

  5% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  15% {
    transform: translateX(-200px);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateX(-200px);
    opacity: 0;
    visibility: hidden;
  }
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

ul li {
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0px;
}

a {
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  color: white;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  transition: 1s;
  background-color: #1d1a1a;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  color: white;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media only screen and (min-width: 360px) {

  .bookPop2,
  .bookPop3,
  .bookPop4 {
    display: none;
  }

  .bookContainer>div {
    display: grid;
    row-gap: 0px;
    position: absolute;
    width: 600px;
    top: 0;
    left: calc(39% - 100px);
    opacity: 0;
    animation: display 40s infinite;
  }

  nav>ul {
    gap: 0;
  }

  .rightNav {
    margin-right: 5px;
    flex-direction: row-reverse;
  }

  ul li {
    margin-right: 3px;
  }

  .navMenu,
  .dropdown {
    display: none;
  }

  .logInSmall,
  .signOutSmall,
  .navSmall {
    display: flex;
  }

  .changeThemeButton {
    margin-right: 20px;
  }

}

@media only screen and (min-width: 500px) {
  .bookContainer>div {
    display: grid;
    row-gap: 0px;
    position: absolute;
    width: 600px;
    top: 0;
    left: calc(46% - 100px);
    opacity: 0;
    animation: display 40s infinite;
  }

}

@media only screen and (min-width: 768px) {
  .results {
    margin: 5% 5% 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 3rem calc(40% - 30vw);
    justify-items: center;
  }

  .extendedSearchFilter {
    margin-left: 15px;
  }

  .searchTag {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 800px) {

  .navMenu,
  .dropdown {
    display: none;
  }

  .logInSmall,
  .signOutSmall,
  .navSmall {
    display: flex;
  }

  .rightNav {
    display: flex;
  }

  .extendedSearchFilter {
    margin-left: 15px;
  }

  .searchTag {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .bookPop2 {
    display: flex;
  }

  .bookPop3,
  .bookPop4 {
    display: none;
  }

  .genres {
    margin-right: 0;
    color: white;
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1000px) {
  .results {
    margin: 5% 5% 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 3rem;
    justify-items: center;
  }

  .navMenu:hover {
    padding: 16px;
    transition: 300ms;
    background-color: blue;
  }

  .searchTag {
    margin-left: 2rem;
  }

  .navMenu {
    display: flex;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .logInSmall,
  .signOutSmall,
  .navSmall {
    display: none;
  }

  .rightNav {
    margin: 0;
    flex-direction: row;
  }

  nav>ul {
    gap: 25px;
  }

  .dropdown-content {
    margin-top: 3px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    translate: -27%;
    text-align: center;
  }

  .dropdown-content a {
    transition: 300ms;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: black;
    color: white;
  }

  .dropdown-content a:hover {
    transition: 200ms;
    background-color: blue;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {

  .bookPop1,
  .bookPop2,
  .bookPop3,
  .bookPop4 {
    display: flex;
  }

  .bookContainer>div {
    display: grid;
    row-gap: 0px;
    position: absolute;
    width: 600px;
    top: 0;
    left: calc(48% - 100px);
    opacity: 0;
    animation: display 40s infinite;
  }

  .rightNav {
    margin: 0;
  }

  nav>ul {
    gap: 25px;
  }
}

.navBar {
  z-index: 6;
  position: sticky;
  overflow: visible;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: black;
  height: 60px;
  font-family: 'Nunito Sans', sans-serif;
}

.navMenu {
  transition: 300ms;
}

.logoImage {
  width: 72px;
  height: 60px;
}

.searchBar {
  background-color: white;
  color: black;
  height: 26px;
}

.searchButton {
  cursor: pointer;
  margin-left: 5px;
  display: flex;
  border-radius: 5px;
  width: 24px;
  height: 28px;
  background-color: white;
}

.lupaImage {
  padding: 0;
  width: 100%;
  height: 100%;
}

div {
  display: flex;
  align-items: center;
  align-content: normal;
  gap: 80px;
}

.srchBtn {
  margin-right: auto;
}

.signUp {
  padding: 10px;
  background-color: blue;
}

.bookContainer {
  position: relative;
  margin-top: 10vh;
  display: grid;
  height: 400px;
  justify-content: center;
  gap: 0px;
  align-content: center;
}

div:nth-child(2) {
  animation-delay: 4s;
}

div:nth-child(3) {
  animation-delay: 8s;
}

div:nth-child(4) {
  animation-delay: 12s;
}

div:nth-child(5) {
  animation-delay: 16s;
}

div:nth-child(6) {
  animation-delay: 20s;
}

div:nth-child(7) {
  animation-delay: 24s;
}

div:nth-child(8) {
  animation-delay: 28s;
}

div:nth-child(9) {
  animation-delay: 32s;
}

div:nth-child(10) {
  animation-delay: 36s;
}

.bookContainer>div>p {
  width: 315px;
  height: 9.9em;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  color: white;
  font-family: Montserrat;
  text-align: justify;
}

.bookContainer .book {
  width: max-content;
}

.aboutProject {
  justify-items: center;
  display: grid;
  margin-top: 40vh;
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  transition-delay: 1.5s;
  transition: all 1.5s;
  font-size: 22px;
}

.aboutProject>p {
  width: 80%;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
}

h1.aboutProj {
  text-align: center;
  font-family: 'Oswold', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0;
}

.popular {
  text-align: center;
  font-family: 'Oswold', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-decoration: underline;
}

.popular:hover {
  text-decoration-color: blue;
}

.popularBooks {
  display: flex;
  flex-direction: row;
  height: 400px;
  place-items: center;
  align-content: center;
  justify-content: space-evenly;
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

@media(prefers-reduced-motion) {
  .popularBooks {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.pop {
  opacity: 1;
  transform: translateX(0);
}

.popularLink {
  width: 275px;
  height: 400px;
}

.popularLink>img {
  height: 400px;
  width: 275px;
}

@media(max-width: 768px) {
  .popularLink>img {
    object-fit: cover;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: black;
}

footer>img {
  opacity: 30%;
  width: 40px;
  height: 40px;
}



.bookHidden:nth-child(2) {
  transition-delay: 200ms;
}

.bookHidden:nth-child(3) {
  transition-delay: 400ms;
}

.bookHidden:nth-child(4) {
  transition-delay: 600ms;
}

.bookHidden:nth-child(5) {
  transition-delay: 800ms;
}

.searchBar {
  width: 23vw;
  background-color: white;
  color: black;
}

.changeThemeButton {
  width: 24px;
  height: 28px;
  padding: 0;
  border: 0;
  background: none;
}

.changeThemeButton>img {
  width: 24px;
  height: 28px;
}

.light-mode {
  transition: 1s;
  background-color: white;
  color: black;
}

#responsiveNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -280px;
  z-index: 30;
  background-color: rgb(23, 26, 33);
  width: 280px;
  color: white;
  line-height: 2.5em;
  padding: 0 12px;
  transition: right 0.5s, left 0.5s;
  font-family: Nunito Sans, sans-serif;
  gap: 0;
  align-items: normal;
  font-size: 22px;
}

#responsiveNav>a {
  border-top: 1px solid #2f3138;
  display: flex;
  border-bottom: 1px solid black;
}

.bookPop:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in;
}